body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 100px;
  background-color: #a5c462;
  padding-top: 0;
}
form {
  border: 3px solid #f1f1f1;
  padding-left: 250px;
  padding-right: 250px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #189b35;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


button:hover {
    opacity: 0.8;
}


.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 10%;
    border-radius: 10%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}
#menu {
 float:left;
 left:50%;
 list-style-type:none;
 margin:0 auto;
 padding:0;
 position:relative;
}
#menu li {
 float:left;
 position:relative;
 right:50%;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #189b35;
}

ul li a{
  display: block;
  padding: 8px 16px;
  color: #000;
  text-decoration: none;
  background-color: #189b35;

}
